src/*
output/*
backup/*
reference/*
!src/sphx-build
!src/autogen.sh
!src/configure.ac
!src/Makefile.am
!src/SCorrelatorQAMaker.cc
!src/SCorrelatorQAMaker.h
!src/SBaseQAPlugin.h
!src/SCheckTrackPairs.h
!src/SMakeTrackQATuple.h
!src/SMakeClustQATree.h
!src/SCorrelatorQAMakerLinkDef.h
