log/*
src/*
output/*
backup/*
reference/*
!src/sphx-build
!src/autogen.sh
!src/configure.ac
!src/Makefile.am
!src/SCorrelatorQAMaker.cc
!src/SCorrelatorQAMaker.h
!src/SBaseQAPlugin.h
!src/SCheckCstPairs.h
!src/SCheckCstPairs.cc
!src/SCheckCstPairsConfig.h
!src/SCheckTrackPairs.h
!src/SCheckTrackPairs.cc
!src/SCheckTrackPairsConfig.h
!src/SMakeClustQATree.h
!src/SMakeClustQATree.cc
!src/SMakeClustQATreeConfig.h
!src/SMakeClustQATreeOutput.h
!src/SMakeTrackQATuple.h
!src/SMakeTrackQATuple.cc
!src/SMakeTrackQATupleConfig.h
!src/SReadLambdaJetTree.h
!src/SReadLambdaJetTree.cc
!src/SReadLambdaJetTreeConfig.h
!src/SReadLambdaJetTreeHistDef.h
!src/SCorrelatorQAMakerLinkDef.h
