src/*
output/*
reference/*
!src/sphx-build
!src/autogen.sh
!src/configure.ac
!src/Makefile.am
!src/SCorrelatorQAMaker.cc
!src/SCorrelatorQAMaker.h
!src/SCorrelatorQAMaker.sys.h
!src/SCorrelatorQAMaker.ana.h
!src/SCorrelatorQAMakerLinkDef.h
